@import 'mdb.css';
@import 'fa-5.5.0/css/all.min.css';

/* ESTILOS PROPIOS */

/* Required height of parents of the Half Page Carousel for proper displaying carousel itself */
html,
body,
.view {
	height: 100%; }

/* Half Page Carousel itself*/
.carousel {
	height: 50%; }
	.carousel .carousel-inner {
		height: 100%; }
		.carousel .carousel-inner .carousel-item,
		.carousel .carousel-inner .active {
			height: 100%; }

/* Adjustment for mobile devices*/
@media (max-width: 776px) {
	.carousel {
		height: 100%; } }

/* Footer color for sake of consistency with Navbar */
.page-footer {
	background-color: #929FBA; }



.centro {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 0; bottom: 0; left: 0; right: 0;

}

.card-columns {
  @include media-breakpoint-only(lg) {
    column-count: 3;
  }
  @include media-breakpoint-only(xl) {
    column-count: 4;
  }
}


.fixed-action-btn ul {
	bottom: 0;
}

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
	cursor: pointer;
	*cursor: hand;
	background-repeat: no-repeat;
	background-position: center right;
}
table.dataTable thead .sorting {
	background-image: url("../images/sort_both.png");
}
table.dataTable thead .sorting_asc {
	background-image: url("../images/sort_asc.png");
}
table.dataTable thead .sorting_desc {
	background-image: url("../images/sort_desc.png");
}
table.dataTable thead .sorting_asc_disabled {
	background-image: url("../images/sort_asc_disabled.png");
}
table.dataTable thead .sorting_desc_disabled {
	background-image: url("../images/sort_desc_disabled.png");
}

.dataTables_wrapper .dataTables_filter {
	float: right;
	text-align: right;
}
.dataTables_wrapper .dataTables_filter input {
	margin-left: 0.5em;
}

.dataTables_wrapper .dataTables_paginate {
	float: right;
	text-align: right;
	padding-top: 0.25em;
}

.validate { margin-bottom: .7rem !important  }